<footer>
    <div class="footer-container">
        <section class="links">
            <p class="font-weight-bold">Useful Links</p>
            <a href="/">Home</a>
            <a href="/search">Search</a>
            <a href="https://spoonacular.com/food-api">Spoonacular API</a>
        </section>
        <section>
            <p class="font-weight-bold">Socials</p>
            <a href="https://github.com/Piyush-Bhor/CC_SenecaHackathon"><img src="img/github.png"></a>
        </section>
    </div>
    <p>Powered by the Spoonacular API</p>
</footer>
    </body>
    
</html>