<footer>
    <div class="footer-container">
        <section class="links">
            <p class="font-weight-bold">Useful Links</p>
            <a href="/">Home</a>
            <a href="/search">Search</a>
            <a href="https://spoonacular.com/food-api">Spoonacular API</a>
        </section>
        <section>
            <p class="font-weight-bold">Socials</p>
            <img src="img/github.png">
        </section>
    </div>
    <p id="copyright">&copy;  2023</p>
</footer>
    </body>
    
</html>