</head>
<body>
    <header>
        <div class="header-loggedin">
            <img id="logo" src="/img/logo2.png">
            <nav class="sitelinks">
                <a class="hover-effect" href="/">Home</a>
                <a class="hover-effect" href="/search">Search</a>
            </nav>
            <nav class="signin">
                <ul>
                    <li>
                        <a class="hover-effect" href="/account">Hello, <%= userInfo.username %></a>
                    <ul>
                        <li><a href="/account">My Account</li></a>
                        <li><a href="/favourites">Favourites</li></a>
                        <li><a href="/logout">Logout</li></a>
                    </ul>
                    </li>
                </ul>
            </nav>
        </div>

    </header>