</head>
<body>
    <header>
        <div class="head-container">
            <img id="logo" src="/img/placeholder.png">
            <nav>
                <a href="/">Home</a>
                <a href="/search">Search</a>
            </nav>
            <nav class="signin">
                <a href="/login">Login</a>
                <a href="/signup"><button>Sign Up</button></a>
            </nav>
        </div>
    </header>