<%- include('includes/header') %>
<main>
    <h1>My Account</h1>
    <div class="account-container">
        <section>
            <a href=""><h2>My Information</h2></a>
            <p>View, Edit Information</p>
        </section>
        <section>
            <a href=""><h2>Favourite Recipes</h2></a>
            <p>View, edit your favourite recipes</p>
        </section>
    </div>
    
</main>
<%- include('includes/footer') %>