<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/account.css">
<%- include('includes/nav-loggedin') %>
<main>
    <h2>My Account</h2>
    <div class="account-container">
        <section>
            <article>
                <a href=""><h4 class="font-weight-bold">My Information</h4></a>
                <p>View, Edit Information</p>
            </article>
            
        </section>
        <section>
            <article>
                <a href=""><h4 class="font-weight-bold">Favourite Recipes</h4></a>
                <p>View, edit your favourite recipes</p>
            </article>
        </section>
    </div>
    
</main>
<%- include('includes/footer') %>