<%- include('includes/header') %>

<main>
    <section class="hero">
        <div class="inner">
            <p id="large-text">Healthy recipes at your fingertips</p>
            <button>Try Now</button>
        </div>
        
        <img id="hero-img" src="img/hero.jpg">
    </section>
    <section class="suggested-recipes">
        <h2>Try these tasty recipes</h2>
        <div class="generated">
            <!--generated recipes go here-->
            <!--Image, title-->
        </div> 
    </section>
</main>

<!-- only for testing -->
<p> 
    <%= recipe_title %> <br>
    <img src="<%= recipe_image %>" alt="food" />
</p>

<%- include('includes/footer') %>