<%- include('includes/header') %>
<main>
    <form action="/loginprocess">
        <h1> Login </h1>
        <input type="email" name="username" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Submit">
    </form>
</main>

<!-- login message -->
<%
if(typeof(login_msg) != 'undefined'){
  %>
  <br><br><div class="alert alert-success" role="alert"> <%= login_msg %> </div>  
  <%
}
%>

<%- include('includes/footer') %>