<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/signin.css">
<%- include('includes/nav') %>
<main>
    <form action="/loginprocess">
        <h2> Login </h2>
        <div class="inputs">
          <input type="email" name="username" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
          <input type="submit" value="Submit">
        </div>
        <!-- login message -->
        <%
        if(typeof(login_msg) != 'undefined'){
          %>
          <br><br><div class="alert alert-success" role="alert"> <%= login_msg %> </div>  
          <%
        }
        %>
    </form>
</main>

<%- include('includes/footer') %>