<%- include('includes/header') %>
<main>
    <section class="searchBar">
        <h1>Search Recipes</h1>
        <p>Search to your heart's content!</p>
        <form action="">
            <input type="text" placeholder="Search...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </section>
    <p>RESULTS</p>
    <section class="results">
        
        <!--generated results go here-->
        <!--for each result, get the image, title, card should look like this-->
        <div class="recipe">
            <img src="img/hero.jpg">
            <div class="recipe-info">
                <h2>Yummy Recipe</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam
                </p>
            </div>
        </div>
        <div class="recipe">
            <img src="img/hero.jpg">
            <div class="recipe-info">
                <h2>Yummy Recipe</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam
                </p>
            </div>
        </div>
        <div class="recipe">
            <img src="img/hero.jpg">
            <div class="recipe-info">
                <h2>Yummy Recipe</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam
                </p>
            </div>
        </div>
    </section>
</main>
<%- include('includes/footer') %>