<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/search.css">
<%- include('includes/nav') %>
<main>
    <section class="searchBar">
        <h1>Search Recipes</h1>
        <p>Search to your heart's content!</p>
        <form action="">
            <button type="button" class="filter" onclick="toggleFilter()"><i class="fa-solid fa-filter"></i> Filter</button>
            <input type="text" placeholder="Search...">
            <button type="submit"><i class="fa fa-search"></i></button>
            
            <div id="filter-form">
                <input type="checkbox"> Low Sugar
                <input type="checkbox"> Vegan
            </div>
        </form>
    </section>
    
    <section class="generated">
        <!--generated results go here-->
        <!--for each result, get the image, title, card should look like this-->
        <div class="recipe">
            <i class="fa-solid fa-star" onclick=""></i>
            <img src="img/hero.jpg">
            <div class="recipe-info">
                <h2>Yummy Recipe</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam
                </p>
            </div>
        </div>
        <div class="recipe">
            <i class="fa-solid fa-star" onclick=""></i>
            <img src="img/hero.jpg">
            <div class="recipe-info">
                <h2>Yummy Recipe</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam
                </p>
            </div>
        </div>
        <div class="recipe">
            <i class="fa-solid fa-star" onclick=""></i>
            <img src="img/hero.jpg">
            <div class="recipe-info">
                <h2>Yummy Recipe</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    veniam
                </p>
            </div>
        </div>
    </section>
</main>
<%- include('includes/footer') %>