/*** ACCOUNT PAGE ***/
.account-container{
    width:80%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    margin:auto;
    margin-top:30px;
    margin-bottom:50px;
}

.account-container section{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding:1rem;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    transition: 0.3s;
}

.account-container section:hover{
    background-color: rgb(231, 231, 231);
}

section i{
    font-size:52px;
    margin-top:-15px;
    align-self: center;
}

.account-container a{
    color:#BC4749;
    transition: 0.3s;
}

.account-container a:hover{
    color:#383838;
    text-decoration: none;
}

.account-container section p{
    color:rgb(84, 84, 84)
}

h2{
    text-align: center;
    margin-top:30px;
}

form{
    display:flex;
    flex-direction: column;
    row-gap: 10px;
    width:50%;
    margin:auto;
    margin-bottom:50px;
}

label{
    width:20%;
}
input[type=email], input[type=password], input[type=text]{
    width:75%;
}

input[type=checkbox]{
    margin-right:10px;
}

.expired{
    color:red;
    text-align: center;
}

.delete{
    background-color: #BC4749;
    color:white;
    transition: 0.3s;
}

.delete:hover{
    background-color: #6b2526;
    cursor:pointer;
}

.fav-text{
    text-align: center;
}

.fav-text h1{
    color:#BC4749;
    font-weight: 700;
}

.fav-text p{
    color:#383838
}

.favourites{
    width:90%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:auto;
}

@media screen and (max-width:800px){
    .account-container{
        display:block;
    }
    .account-container section{
        margin-top:30px;
    }
}