/*https://coolors.co/palette/386641-6a994e-a7c957-f2e8cf-bc4749*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
*{
    font-family: 'Poppins', 'Sans Serif';
}

body{
    position: relative;
    min-height: 100vh;
}

main{
    padding-bottom:200px;
}

button{
    border:none;
    padding:5px 15px 5px 15px;
    border-radius:20px;
}

/*Recipe result grid*/
.generated{
    margin:auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:50px;
    justify-content: center;
    gap:20px;
    width:90%;
}

.recipe{
    position: relative;
    border-radius: 20px;
    
    box-shadow: 5px 5px 10px rgb(164, 164, 164);
}

.recipe i{
    position:absolute;
    left:5%;
    top:5%;
    color:black;
    font-size: 26px;
    transition: 0.3s;
}

.recipe i:hover{
    transform: scale(1.2);
    cursor:pointer;
}

.recipe img{
    width:100%;
    border-radius: 20px 20px 0 0;
}

.recipe-info{
    background-color: rgb(238, 238, 238);
    border-radius: 0 0 20px 20px;
    padding:20px;
}

/*** HEADER ***/
header{
    padding:1rem;
}

.head-container, .header-loggedin{
    display:grid;
    text-align: left;
    align-items: center;
    grid-template-columns: 0.5fr 2fr 1fr;
    gap:20px;
}

.signin{
    text-align: right;
}

.head-container a{
    margin-right:25px;
}

nav a{
    color:black;
    text-decoration: none;
    transition: 0.3s;
    font-size:18px;
}

.hover-effect{
    display: inline-block;
    position: relative;
}

.hover-effect::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #6A994E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-effect:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav a:hover{
    color:#6A994E;
    text-decoration: none;
}

nav button{
    background-color:#386641;
    color:white;
    transition:0.3s;
}

nav button:hover{
    cursor:pointer;
    background-color:#A7C957;
    color:black
}
/*** FOOTER ***/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top:50px;
    padding:1rem;
    background-color: #386641;
    color:white;
    text-align: center;
    height:175px;
}

.footer-container{
    width:90%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}

footer img{
    width:50px;
}

footer .links a{
    display:flex;
    color:white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

footer a:hover{
    color:#A7C957;
    text-decoration:none;
}
/*media queries*/
@media screen and (max-width: 1020px) {
    .head-container, .header-loggedin{
        grid-template-columns: 0.5fr 1fr 1fr;
    }
    .recipe i{
        font-size:40px;
    }
}

@media screen and (max-width:800px){
    .head-container, .header-loggedin{
        grid-template-columns: 1fr 1fr 1fr;
        gap:0;
    }

    .generated{
        grid-template-columns: 1fr;
    }
    h3{
        text-align: center;
    }
}

@media screen and (max-width:650px){
    nav{
        padding-left:20px;
    }
    .head-container, .header-loggedin{
        display:flex;
        flex-direction: column;
    }
    .sitelinks{
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    .signin{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:0 auto;
        width:100%
    }
    nav button{
        background-color:white;
        color:black;
    }
    nav button:hover{
        background-color:#6A994E;
        color:white;
    }
}

/*nav logged in*/
.signin{
    margin-right:40px;
}

.signin ul{ 
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.signin>ul>li{ /* Only applies these styles to the immediate child <li> in the immediate child <ul> in <nav>. Basically it only affects the <li> in the main menu not the sub menu */
    display: inline-block; /* to make the links in the main menu site side by side */
    position: relative; /* to make the parent <li> as the container element of the absolutely positioned <ul> representing the sub menu */
}

.signin ul li ul { /* applies styles only to the sub menu */
	width: 150px;
	position: absolute; /* put the sub menu in a separate layer */
	z-index: 999; /* make sure the sub menu is not hidden behind other elements */
	text-align: left;
	background-color: #386641;
    box-shadow: 0 0 5px #386641;
}

.signin ul li ul li a{ /* styles for the <a> in the sub menu */
    color: white;
    padding: 10px;
    display: block; /* to make sure the anchor tags occupy all the space available otherwise the hover colour changes do not have a good user experience. */
}

.signin ul li ul li:hover a:hover{ /* styles for the <a> in the sub menu on mouse over */
    color: black;
    background-color: #F2E8CF
}

.signin ul li ul { /* applies styles only to the sub menu */
    display: none; /* hide the sub menu by default */
}

.signin ul li:hover ul{/* applies styles only to the sub menu whose parent <li> is hovered */
    display: block; /* show the sub menu when a user brings their mouse over the parent <li> */
}