form{
    width:35%;
    margin:auto;
    border:2px solid black;
    padding:1rem;
    
}

h1{
    text-align: center;
    margin-top:20px;
}

.inputs{
    display:flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
}

input[type=email], input[type=password], input[type=text]{
    padding:5px;
    color:black;
    background-color: rgb(227, 227, 227);
    border:none;
}

input[type=submit]{
    background-color:#BC4749;
    border:none;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    transition:0.3s
}

input[type=submit]:hover{
    background-color: #3a3a3a;
    cursor:pointer

}